<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Budget App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/tablesorter.css" rel="stylesheet"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script>var $jq1 = jQuery.noConflict();</script>
    <script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/js/in_out.js"></script>
</head>
<body>
<div class="container">
    <div class="masthead">
        <div th:replace="fragments/navbar :: navbar (isLogged=true)"></div>
    </div>

    <h1>Summary</h1>

    <div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change currency
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="in_out?currency=USD">US Dollars</a></li>
                <li><a href="in_out?currency=EUR">Euro</a></li>
                <li><a href="in_out">Polski złoty</a></li>
            </ul>
        </div>
        <p>
            <table class="tablesorter">
                <thead>
                <tr>
                    <th:block th:each="val: ${summaryHeaders}">
                        <th th:text="${val}"/>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="row: ${summaryRows}">
                    <tr>
                        <th:block th:each="val: ${row}">
                            <td th:text="${val}"></td>
                        </th:block>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </p>
        <p><br/>
            <form action="#" th:action="@{/filter}" th:object="${filterForm}" method="post">
                <table class="filters">
                    <tr>
                        <td>Minimum Value:</td>
                        <td><input type="text" th:value="*{valueMin}" id="valueMin" name="valueMin" /></td>
                        <td th:if="${#fields.hasErrors('valueMin')}" th:errors="*{valueMin}">Value Min Error!</td>
                        <td>Maximum Value:</td>
                        <td><input type="text" th:value="*{valueMax}" id="valueMax" name="valueMax" /></td>
                        <td th:if="${#fields.hasErrors('valueMax')}" th:errors="*{valueMax}">Value Max Error!</td>
                    </tr>

                    <tr>
                        <td>Minimum Date:</td>
                        <td><input type="text" th:value="*{dateMin}" id="dateMin" name="dateMin" /></td>
                        <td th:if="${#fields.hasErrors('dateMin')}" th:errors="*{dateMin}">Date Min Error!</td>
                        <td>Maximum Date:</td>
                        <td><input type="text" th:value="*{dateMax}" id="dateMax" name="dateMax" /></td>
                        <td th:if="${#fields.hasErrors('dateMax')}" th:errors="*{dateMax}">Date Max Error!</td>
                    </tr>

                    <tr>
                        <td><input type="submit" /></td>
                    </tr>
                </table>
            </form>
        <br/></p>
        <p>
            <table id="in_out_table" class="tablesorter">
                <thead>
                    <tr>
                        <th:block th:each="val: ${tableHeaders}">
                            <th th:text="${val}"></th>
                        </th:block>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="row: ${tableRows}">
                    <tr>
                        <th:block th:each="val: ${row}">
                            <td th:text="${val}"></td>
                        </th:block>
                    </tr>
                </th:block>
                </tbody>

            </table>
        </p>
        <p>
            <br/>

            <img src="/chartValueDate" />
            <img src="/chartNames" />
            <img src="/chartSources" />

            <br/>
        </p>
    </div>

    <div class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>