<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Budget App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>
<body>
<div class="container">
    <div class="masthead">
        <div th:replace="fragments/navbar :: navbar (isLogged=false)"></div>
    </div>

    <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
        <table>
            <tr>
                <td>First name:</td>
                <td><input type="text" th:field="*{login}" /></td>
                <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="password" th:field="*{password}" /></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</td>
            </tr>
            <tr>
                <td><input type="submit">Log In!</input></td>
            </tr>
        </table>
    </form>

    <div class="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>